header{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  background-color: white;
  width: 100%;
  z-index: 10;
}

.page-ttl{
  font-size: 25px;
  margin:23px 0 23px 25px;
}

.page-nav_contents{
  display: flex;
  margin:29px 25px 20px 0;
}

.page-nav_home,
.page-nav_businesscontent,
.page-nav_news,
.page-nav_blog,
.page-nav_overview,
.page-nav_recruit,
.page-nav_inquiry{
  list-style-type: none;
  margin-left: 25px;
}

.apage-nav_home,
.apage-nav_businesscontent,
.apage-nav_news,
.apage-nav_blog,
.apage-nav_overview,
.apage-nav_recruit,
.apage-nav_inquiry{
  text-decoration: none;
  color: black;
}

.drower-nav_content{
  text-decoration: none;
  color: blue
}
.drower-nav{
  position: absolute;
  height: 100vh;
  width: 100%;
  left: -100%;
  background: #eee;
  transition: .7s;
  text-align: center;
}
.drower-nav ul{
  padding-top: 80px;
}
.drower-nav ul li{
  list-style-type: none;
  margin-top: 50px;
}
.drower-menu {
  display: inline-block;
  width: 36px;
  height: 32px;
  cursor: pointer;
  position: relative;
  left: 20px;
  top: 20px;
  margin-right: 50px;
}
.drower-menu__line--top,
.drower-menu__line--middle,
.drower-menu__line--bottom {
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  transition: 0.5s;
}
.drower-menu__line--top {
  top: 0;
}
.drower-menu__line--middle {
  top: 14px;
}
.drower-menu__line--bottom {
  bottom: 0;
}
.drower-menu.open span:nth-of-type(1) {
  top: 14px;
  transform: rotate(45deg);
}
.drower-menu.open span:nth-of-type(2) {
  opacity: 0;
}
.drower-menu.open span:nth-of-type(3) {
  top: 14px;
  transform: rotate(-45deg);
}
.in{
  transform: translateX(100%);
}

.drower-menu{
  display: none;
}

@media screen and (max-width:768px){
  .page-nav{
    display: none;
  }
  .drower-menu{
    display: inline;
  }
}

.heading{
  position:relative;
}

.heading-text{
  position:absolute;
  top:45%;
  width: 100%;
  text-align: center;
}

.heading img{
  width: 100%;
  height:530px;
  margin-top: 70px;
}

.heading-text_main{
  color: white;
  font-size: 45px;
  font-weight: bold;
  margin-bottom:18px;
}

.heading-text_sub{
  color:white;
  font-weight: bold;
}

@media screen and (max-width:768px){
  .heading-text_main{
    font-size:7vh;
  }
  .heading-text_sub{
    font-size: 3vh;
  }
}

.message{
  color: white;
  background-color: black;
  margin-top:-3px;
  height: 320px;
}

.message_ttl{
  font-size: 30px;
  margin-bottom: 30px;
  padding: 80px 8% 10px;
}

.message_main{
  line-height: 25px;
  margin:0 7.5%;
}

.service{
  margin:80px 0 0 0;
}

.service-contents{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 7% 30px;
}

.service-ttl{
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
  font-weight: lighter;
}

.service-content img{
  width: 100%;
  flex-wrap: wrap;
}

.service-content{
  flex-wrap: wrap;
  width: 46%;
}

.service-content_ttl{
  font-weight: bold;
  line-height: 35px;
}

.service-content_text{
  line-height: 24px;
  margin-bottom: 15px;
}

.service-list{
  text-align: center;
}

.service-list_btn{
  text-decoration: none;
  background-color: #DA523A;
  display: inline;
  color: white;
  padding:7px 70px;
}

@media screen and (max-width:768px){
  .service-contents{
    display:block;
    width: 100%;
    margin:0;
  }

  .service-content img{
    width: 180%;
    margin:0 18%;
  }

  .service-content_ttl{
    font-size: 18px;
  }

  .service-content_text{
    padding-bottom: 30px;
  }

  .service-content_ttl,
  .service-content_text{
    margin:0 18% ;
    width: 180%;
  }
}

.news{
  padding:90px 0 70px;
  background-color: black;
  margin: 80px 0 0 0;
  display: inline-block;
  width: 100%;
}

.news-heading{
  display: flex;
  justify-content: space-between;
  margin:0 auto 20px;
  width: 86%;
}

.news-heading_ttl{
  color: white;
  font-size:25px;
}

.news-heading_btn{
  text-decoration: none;
  color: white;
  background-color: #DA523A;
  padding:8px 15px;
}

.news-contents{
  width: 86%;
  margin:0 auto 0;
}

.news-content1,
.news-content2,
.news-content3{
  background-color: white;
  margin:10px 0;
  padding:20px 0 20px 15px;
}

.anews-content1,
.anews-content2,
.anews-content3{
  text-decoration: none;
  color: black;
}

.blog{
  margin-top: 130px;
}

.blog_ttl{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.blog-contents{
  display: flex;
  justify-content: space-between;
  margin:0 7%;
}

.blog-content img{
  width: 90%;
}

.blog-content_date{
  margin:10px 0;
}

.ablog-content_text{
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.blog-list{
  text-align: center;
  margin:40px 0 0 0 ;
}

.blog-list_btn{
  text-decoration: none;
  background-color: #DA523A;
  display: inline-block;
  color: white;
  padding:9px 70px;
  margin-bottom: 80px;
}

@media screen and (max-width:768px){
  .blog-contents{
    display: block;
  }
  .blog-content img{
    width: 100%;
  }
  .blog-content_text{
    margin-bottom:5px;
  }
}

.overviewrecruit{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.overview-content{
  background-color: #DA523A;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
  height: auto;
}

.overview-text,
.recruit-text{
  text-align: center;
  margin:25% 0;
}

.recruit-content{
  background-color: black;
  width: 100%;
  text-decoration: none;
  color: white;
  font-size:30px;
  font-weight: bold;
}

.inquery{
  background-color: rgb(250, 245, 255);
  height:320px;
}

.inquery_ttl{
  text-align: center;
  font-size: 30px;
  padding:100px 0 25px;
  font-weight: bold;
}

.inquery_text{
  text-align: center;
  margin-bottom: 50px;
}

.inquery-list{
  text-align: center;
  margin:40px 0 0 0 ;
}

.inquery-list_btn{
  text-decoration: none;
  background-color: #DA523A;
  display: inline-block;
  color: white;
  padding:12px 100px;
  margin-bottom: 80px;
}

.footer{
  background-color: black;
  display: flex;
  justify-content: space-between;
  height:60px;
}

.copyright{
  color: white;
  margin:25px 0 0 90px;
  font-size: 11px;
}

.footer-nav_contents{
  display: flex;
  margin:25px 80px 0 0;
}

.footer-nav_buisinesscontent,
.footer-nav_news,
.footer-nav_blog,
.footer-nav_overview,
.footer-nav_recruit,
.footer-nav_inquiry{
  list-style-type: none;
  border-left: solid 0.1px white;
  padding:0 5px;
  font-size: 11px;
}

.footer-nav_home{
  list-style-type: none;
  padding:0 5px;
  font-size: 11px;
}

.afooter-nav_home,
.afooter-nav_buisinesscontent,
.afooter-nav_news,
.afooter-nav_blog,
.afooter-nav_overview,
.afooter-nav_recruit,
.afooter-nav_inquiry{
  text-decoration: none;
  color: white;
  padding:0 10px;
}

@media screen and (max-width:768px){
  footer{
    height:230px;
    background-color: black;
  }

  .copyright{
    margin:105px 0 0 125px;
  }
  
  .footer-nav_contents{
    display: inline;
  }

  .footer-nav_buisinesscontent,
  .footer-nav_news,
  .footer-nav_blog,
  .footer-nav_overview,
  .footer-nav_recruit,
  .footer-nav_inquiry{
    border: none;
    margin:16px 180px 0 0;
  }

  .footer-nav_home{
    border: none;
    margin: 35px 180px 16px 0;
  }
}